[Desktop Entry]
Version=1.0
Type=Application
Name=PiyangoX
Comment=Milli Piyango Yönetim Sistemi
Icon=/home/ghost/Belgeler/piyango-projesi/assets/images/yonca.png
Exec=/home/ghost/Belgeler/piyango-projesi/build/linux/x64/release/bundle/piyangox
Terminal=false
Categories=Office;Finance;
StartupNotify=true
Keywords=piyango;bilet;milli piyango;lottery; 